@import url("./../../styles.css");

.searchbar-wrapper {
  position: relative;
  width: 27.7rem;
  height: 3rem;
}

.searchbar-wrapper > input {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  text-indent: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-color);
}

.searchbar-wrapper > input::placeholder {
  color: var(--grey-color);
  font-family: var(--montserrat-font);
  /* padding-block: 12px; */
}

.searchbar-wrapper > .text-field-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0.875rem;
  width: 1rem;
  cursor: pointer;
  color: var(--grey-color);
  transition: color 0.15s ease-in-out;
}

/* Implement hower effect to svg */

@media screen and (min-width: 1920px) {
  .searchbar-wrapper {
    width: 36.9rem;
    height: 4rem;
  }
  .searchbar-wrapper > input {
    text-indent: 1.3rem;
    border-radius: 0.6rem;
  }

  .searchbar-wrapper > .text-field-icon {
    right: 1.16rem;
    width: 1.3rem;
  }
}
