.partners-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 10rem;
}

.partners-wrapper > h3 {
  color: var(--blue-dark-color);
  font-family: var(--rubik-font);
  font-weight: 700;
  font-size: 3rem;
}

.partners-companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.5rem;
  row-gap: 2rem;
}

@media screen and (min-width: 1440px) {
  .partners-wrapper {
    gap: 4.6rem;
    margin-bottom: 13.3rem;
  }

  .partners-wrapper > h3 {
    font-size: 4rem;
  }

  .partners-companies {
    column-gap: 4.6rem;
    row-gap: 2.6rem;
  }
}
