<div class="mentor-wrapper">
    <img src="./../../assets/MentorImagePlaceholder.svg" alt="">
    <div class="mentor-info-wrapper">
        <h3>Become an Mentor</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, rem! Laboriosam quod ducimus mollitia
            obcaecati accusantium nemo culpa fuga iure tenetur harum, possimus recusandae dignissimos enim assumenda
            similique. Sapiente, provident?
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore incidunt omnis eligendi, a, accusamus sed
            autem vitae animi quibusdam consectetur modi! Sint omnis perspiciatis veniam laudantium eum nam delectus
            placeat?
        </p>
        <button class="mentor-btn">Start Teaching</button>
    </div>
</div>