.navbar-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 1.125rem;
  padding-left: 6.5rem;
  padding-right: 6.563rem;
}

.category-wrapper {
  width: 6.375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--blue-dark-color);
  font-weight: 600;
  margin-left: 2.5rem;
  margin-right: 1.5rem;

  > svg {
    cursor: pointer;
  }
}

#logo {
  margin-right: 1.5rem;
}

#member-btn {
  margin-right: 1.5rem;
  padding: 0;
  background-color: var(--main-bg-color);
  border: none;
  color: var(--blue-dark-color);
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .navbar-wrapper {
    padding-block: 1.5rem;
    padding-left: 6.5rem;
    padding-right: 8.75rem;
  }
  .category-wrapper {
    width: 8.5rem;
    gap: 0.6rem;
    margin-left: 3.3rem;
    margin-right: 2rem;
    font-size: 1.3rem;

    > svg {
      width: 0.83rem;
      height: 0.41rem;
    }
  }
  #logo {
    margin-right: 2rem;
  }
  #member-btn {
    margin-right: 2rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 990px) {
  .navbar-wrapper {
    flex-wrap: wrap;
  }
}
