.partners-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.partners-wrapper > h3 {
  color: var(--blue-dark-color);
  font-family: var(--rubik-font);
  font-weight: 700;
  font-size: 3rem;
}

.partners-companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3.5rem;
  row-gap: 2rem;
}

/* colors */
/* --main-bg-color: #ffffff;
  --pink-color: #f72585;
  --pink-btn-color: #f72585;
  --pink-circle-color: #fa6bac;
  --blue-dark-color: #1c3554;
  --blue-dark-auxiliary-color: #021934;
  --blue-light-btn-color: #4586d6;
  --grey-color: #808080;

  /* fonts */
/* --montserrat-font: "Montserrat", sans-serif, italic;
  --rubik-font: "Rubik", sans-serif, italic; */

/* indents */
/* --default-margin: 6.5rem;
  --auxiliary-margin: 2.5rem;  */
