<div class="navbar-wrapper">
    <img id="logo" src="./../../assets/Logo.svg" alt="logo..." (click)="logoTransition()">
    <app-searchbar id="search-bar"></app-searchbar>
    <div class="category-wrapper">
        Category
        <svg width="0.625rem" height="0.313rem" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"
            (mouseenter)="toggleCategories()">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L5 5L10 0H0Z" fill="#1C3554" />
        </svg>
        <div class="categories-dropdown" *ngIf="isCategoriesOpen" (mouseleave)="hideDropdown()">
            <a *ngFor="let category of categories; let i = index" (click)="selectCategory(category.title)">

                {{ category.title }}
            </a>
        </div>
    </div>
    <button id="member-btn">Become an Mentor</button>
    <app-authorization></app-authorization>
</div>