<div class="feedback-slider-wrapper">
    <div class="left-part">
        <button class="left-arrow"></button>
        <img src="./../../assets/SliderImagePlaceholder.svg" alt="loading...">
        <span class="circle"><span class="strip"></span></span>
    </div>
    <div class="right-part">
        <div class="text-info">
            <div class="feedback-text">After studying here I gained new knowledge and insights. The mentor was very
                friendly and guided me to get the knowledge I wanted. Thank you!
            </div>
            <div class="name">KecekArif</div>
            <div class="caption">something description</div>
        </div>
        <button class="right-arrow"></button>
    </div>
</div>