<div class="footer-wrapper">
    <div class="header-footer">
        <div class="logo-desc-wrapper">
            <img src="./../../assets/Logo(white).svg" alt="loading...">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet tristique placerat eleifend aliquam
                pellentesque facilisis ultrices. Imperdiet mus urna egestas at tellus.
            </p>
        </div>
        <div class="apply-info-wrapper">
            <div class="about-info">
                <h5>About</h5>
                <div class="about-info-properties">
                    <button>About us</button>
                    <button>Courses</button>
                    <button>Mentor</button>
                    <button>Contact Us</button>
                </div>
            </div>
            <div class="about-info">
                <h5>Support</h5>
                <div class="about-info-properties">
                    <button>Careers</button>
                    <button>Help & Support</button>
                    <button>Blog</button>
                </div>
            </div>
            <div class="about-info">
                <h5>Company</h5>
                <div class="about-info-properties">
                    <button>Privacy Policy</button>
                    <button>Terms of Service</button>
                    <button>Code of Conduct</button>
                </div>
            </div>
        </div>
    </div>
    <div class="legal-info">
        <button>Privacy Policy</button>
        <button id="terms-btn">Terms and Condition</button>
        <span>&commat;2020 TanahAir Studio. All rights reserved.</span>
    </div>
</div>